body {
  background-color: beige;
}
.wave-top {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}
.buttonTQ > button {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 50%;
  left: 40%;
  z-index: 10;
}
.buttonTQ > button:hover h1 {
  color: #273036;
}
